/* Universal */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:700');

head {
  font-size: 14px;
}

.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #FFFFFF;
  text-shadow: 1px 1px 3px #000000;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-shadow: 2px 2px 3px #E2DEDE;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-shadow: 2px 2px 2px #FFFFFF;

}

p, a {
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  font-weight: 300;
  color: grey;
}

header a, header a:visited, header a:active, header a:hover,
footer a, footer a:visited, footer a:active, footer a:hover {
  text-decoration: none;
  color: grey;
}

/* Mobile Universal */
@media screen only and (max-width: 480px) {
  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  p, a {
    font-size: 0.8rem;
  }
}

/* Header */

header {
  font-family: "Montserrat", Helvetica, sans-serif;
}

header.span {
  font-size: 2.2rem;
}

header .container {
  display: flex;
  align-items: center;
  margin: 0 24px;
  height: 64px;
  background-color: white;
  position: relative;
}

.desktopLogo {
  display: flex;
  align-items: center;
  height: 32px;
  float: left;
  flex-grow: 1;
}

.span {
  text-transform: uppercase;
}

#colmar {
  font-weight: 800;
}

#academy {
  color: grey;
  padding: 10px 0;
}

.desktopHeader li {
  display: inline-block;
  padding: 24px 10px;
}

.border {
  border-right: 16px solid MediumAquamarine;
}

.mobileHeader {
  display: none;
}


/* Mobile Header */

@media only screen and (max-width: 480px) {
  header .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobileHeader {
    display: inline;
  }

  .mobileHeader ul {
  }

  .mobileHeader li {
    display: inline;
    padding: 0 20px;
  }

  .desktopHeader, #colmar, #academy, .desktopLogo {
    display: none;
  }

}


/* Banner */
#banner {
  background-color: grey;
  width: 100%;
}

#bannerImgBox {
  width: 60%;
}

.bannerImg {
  width: 90%;
  height: auto;
  padding: 32px 24px;
}

.box h1, .box p {
  margin: 2rem auto;
}

.bannerText {
  color: black;
}

.button {
  border: 1px solid Darkgrey;
  padding: 8px 100px;
  background-color: Darkgrey;
  border-radius: 5%;
  float: left;
  text-align: center;
  text-decoration: none;

}

/* Mobile Banner */
@media only screen and (max-width: 480px) {
  #banner {
    flex-direction: column;
  }

  .box h1 {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .button {
    margin: 24px auto 32px;
    background-color: lightgrey;
    width: 90%;
    margin: 0 16px;
  }

  #bannerImgBox {
    width: 100%;
  }

  .bannerImg {
    padding: 0;
    width: 100%;
  }
}

/* Info & Events */

.InfoleftBox {
  width: 60%;
  padding: 32px 24px;
}

.InfoleftBox img {
  width: 90%;
  padding-bottom: 32px;
}

.InfoleftBox h2 {
  padding-bottom: 24px;
}

.sub {
  font-size: 0.6rem;
}

.EventsideBox {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.article img {
  height: auto;
  width: 35%;
  padding: 16px;
}

.article {    /* on hover make background color change */
  display: flex;
  align-items: center;
}

.article:hover {
  background-color: #E2DEDE;
}

.articleText {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.articleText p, .info p {
  font-size: .75rem;
}

.articleText h3, .eventText p {
  padding-bottom: 8px;
}

.articleText p {
  padding-bottom: 8px;
}

.articleText a, .articleText a:visited, .articleText a:active {
  text-decoration: none;
  color: blue;
  font-size: .75rem;
}

.articleText a:hover {
  font-size: .9rem;
  transition: all 500ms;
  text-shadow: 2px 2px 4px #fff;
  font-weight: bold;
}

.mobileImg {
  display: none;
}

/* Mobile Info & Events */

@media only screen and (max-width: 480px) {
  #InfoEvents {
    width: 100%;
  }

  .InfoleftBox {
    display: none;
  }

  .EventsideBox {
    width: 100%;
  }

  .article {
    flex-direction: column;
    /*align-items: center;*/
  }

  .article img {
    width: 90%;   /*100%?*/
  }

  .articleText {
    width: 100%;
    margin: 0 0 64px 16px;  /* not right */
  }

  .deskImg {
    display: none;
  }

  .mobileImg {
    display: block;
    padding: 16px;
    margin: 0 auto;
  }
}


/* Courses Section */
.courses {
  padding: 72px 32px;
  background-color: lightgrey;
}

article h2 {
  text-align: center;
  padding-bottom: 32px;
}

#courseBox {
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.course {
  width: 30%;
  margin-bottom: 32px;
}

.courseText {
  display: flex;
  flex-flow: column wrap;
  background-color: white;
}

.courseText h3 {
  padding: 16px 0 8px 16px;
}

.courseText p {
  padding: 8px 0 24px 16px;
}

.line {
  padding-left: 16px;
  font-size: .8rem;
}

.course img {
  height: auto;
  width: 100%;
}

.mobileCourses {
  display: none;
}

/* Mobile Courses */
@media only screen and (max-width: 480px) {
  .courses h2, #courseBox {
    display: none;
  }

  .mobileCourses {
    display: block;
  }

  .mobileCourses h3 {
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 24px;
    border: 1px solid white;
    margin-bottom: 8px;
    background-color: grey;
  }

  .mobileCourses a, .mobileCourses a:visited, .mobileCourses a:hover {
    text-decoration: none;
    color: black;
  }
}

/* Thesis */
#ThesisContainer {
  align-items: flex-start;
}
.thesis {
  padding-top: 32px;
  margin: 0 auto;
}

.thesisleftBox {
  width: 60%;
  padding: 32px 24px;
}

.thesissideBox {
  display: flex;
  flex-direction: column;
  width: 40%;
}

video {
  width: 100% !important;
  height: auto !important;
}

/*.ThesisleftBox img {
  width: 90%;
  padding-bottom: 32px;
}                            there is no img so why is this here?    */

.thesisleftBox h3 {
  padding: 24px 0 8px 0;
}

/* Mobile Thesis */
@media only screen and (max-width: 480px) {
  .thesissideBox, .thesisleftBox h3, .thesisleftBox p {
    display: none;
  }

  #ThesisContainer {
    width: 100%;
  }

  video {
    padding: 0 0 24px 0;
  }

}

/* Footer */

footer {
  width: 960px;
  display: flex;
  justify-content: center;    /* why off to the left?  */
  background-color: white;
  padding-top: 16px;
  height: 80px;
}

footer p {
  flex-grow: 1;
  padding-left: 24px;
}

footer li {
  padding-right: 16px;
  display: inline-block;
}

/* Mobile Footer */
@media only screen and (max-width: 480px) {
  footer ul {
    display: none;
  }

  footer p {
    width: 100%;
    padding: 16px 0 16px 16px;
  }
}
