/* Universal */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:700');

head {
  font-size: 14px;
}

.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: #FFFFFF;
  text-shadow: 1px 1px 3px #28527A;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: .5px .5px 1px #28527A;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}

p, a {
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  font-weight: 300;
  color: #1B252B;
}

header a, header a:visited, header a:active, header a:hover,
footer a, footer a:visited, footer a:active, footer a:hover {
  text-decoration: none;
  color: #AAABB8;
}

/* Mobile Universal */
@media screen only and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  p, a {
    font-size: 0.8rem;
  }
}

/* Header */

header {
  font-family: "Roboto", sans-serif;
}

header.span {
  font-size: 2.2rem;
}


.desktopLogo {
  display: flex;
  align-items: center;
  height: 32px;
  float: left;
  flex-grow: 1;
}

.span {
  text-transform: uppercase;
}

#colmar {
  font-weight: 800;
}

#academy {
  color: #AAABB8;
  padding: 10px 0;
}

.desktopHeader li {
  display: inline-block;
  padding: 24px 10px;
}

.border {
  border-right: 16px solid #3FEEE6;
}

.mobileHeader {
  display: none;
}


/* Mobile Header */

@media only screen and (max-width: 480px) {
  header .container {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }

  .mobileHeader {
    display: inline;
  }

  .mobileHeader li {
    display: inline;
    padding: 0 20px;
  }

  .desktopHeader, #colmar, #academy, .desktopLogo {
    display: none;
  }

}


/* Banner */
#banner {
  background-color: #58A3BC;
}

#bannerImgBox {
  width: 60%;
}

.bannerImg {
  width: 90%;
  height: auto;
  padding: 32px 24px;
}

.box h1, .box p {
  margin: 2rem auto;
}

.button {
  border: 1px solid #2E9CCA;
  padding: 8px 65px;
  color: #28527A;
  font-weight: 700;
  background-color: #FADD7C;
  border-radius: 5px;
  box-shadow: -1px 1px 2px #28527A;
  float: left;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  transition: all 300ms ease-in 10ms;
  box-shadow: -2.5px 3px 5px #28527A;
  background-color: #FAD07C;
  font-size: 1.1rem;
}

.fas.fa-angle-double-right {
  padding: 0 8px;
}

/* Mobile Banner */
@media only screen and (max-width: 480px) {
  #banner {
    flex-direction: column;
    width: 100%;
  }

  .box h1 {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  #bannerImgBox {
    width: 100%;
  }

  .bannerImg {
    padding: 0;
    width: 100%;
  }

  .button {
    margin-bottom: 32px;
  /*  background-color: #464866;*/
  }
}

/* Info & Events */

.InfoleftBox {
  width: 60%;
}

.InfoleftBox img {
  width: 90%;
  padding: 32px 24px;
}

.InfoleftBox h2 {
  padding-bottom: 24px;
}

.InfoleftBox p {
  padding: 0 24px;
}

.sub {
  font-size: 0.6rem;
  margin-bottom: 32px;
}

.EventsideBox {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.event img {
  height: auto;
  width: 35%;
  padding: 16px;
}

.event {
  display: flex;
  align-items: center;
}

.event:hover {
  transition: background-color 500ms ease-out 5ms;
  background-color: #8AC4D0;
}

.rightText {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.rightText p, .info p {
  font-size: .75rem;
}

.rightText h3, .eventText p {
  padding-bottom: 8px;
}

.rightText p {
  padding-bottom: 8px;
  color: #777D7B;
}

.rightText a, .rightText a:visited, .rightText a:active {
  text-decoration: none;
  color: #6560F0;
  font-weight: bold;
  font-size: .75rem;
}

.rightText a:hover {
  font-size: .9rem;
  transition: all 500ms ease-out;
  text-shadow: 1px 1px 2px #fff;
  font-weight: bold;
  line-height: .9rem;
}

.mobileImg {
  display: none;
}

/* Mobile Info & Events */

@media only screen and (max-width: 480px) {
  #InfoEvents {
    width: 100%;
  }

  .InfoleftBox {
    display: none;
  }

  .EventsideBox {
    width: 100%;
  }

  .event {
    flex-direction: column;
  }

  .event img {
    width: 90%;
  }

  .rightText {
    width: 90%;
    margin: 0 0 64px 16px;
  }

  .deskImg {
    display: none;
  }

  .mobileImg {
    display: block;
    padding: 16px;
    margin: 0 auto;
  }

  .rightText a:hover {
    font-weight: bold;
  }
}


/* Courses Section */
.courses {
  padding: 32px 72px;
  background-color: #8AC4D0;
}

article h2 {
  text-align: center;
  padding-bottom: 32px;
}

#courseBox {
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.course {
  width: 30%;
  margin-bottom: 32px;
}

.courseText {
  display: flex;
  flex-flow: column wrap;
  background-color: #FFFFFF;
  margin-top: -3px;
}

.courseText h3 {
  padding: 16px 0 8px 16px;
}

.courseText p {
  padding: 8px 0 24px 16px;
}

#art p {
  padding: 8px 0 16px 16px;
}

.line {
  text-transform: uppercase;
  padding-left: 16px;
  font-size: .8rem;
}

.course img {
  height: auto;
  width: 100%;
}

.mobileCourses {
  display: none;
}

/* Mobile Courses */
@media only screen and (max-width: 480px) {
  #courseBox {
    display: none;
  }

  .mobileCourses {
    display: block;
    background-color: #58A3BC;
  }

  .mobileCourses h3 {
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 24px;
    border: 1px solid white;
    margin-bottom: 8px;
    background-color: #FAE57C;
  }

  .mobileCourses a, .mobileCourses a:visited, .mobileCourses a:hover {
    text-decoration: none;
    color: #28527A;
    font-weight: 600;
  }

   .mobileCourses h3:hover {
     transition: all 500ms ease-in 5ms;
     background-color: #F4D160;
     border-radius: 5px;
     border: 1px double #28527A;
     box-shadow: -1px 1px 2px #28527A;
   }
}

/* Thesis */
#ThesisContainer {
  align-items: flex-start;
}
.thesis {
  padding-top: 32px;
  margin: 0 auto;
}

.thesisleftBox {
  width: 60%;
  padding: 32px 24px;
}

.thesissideBox {
  display: flex;
  flex-direction: column;
  width: 40%;
}

video {
  width: 100%;
  height: auto;
}

.thesisleftBox h3 {
  padding: 24px 0 8px 0;
}

/* Mobile Thesis */
@media only screen and (max-width: 480px) {
  .thesissideBox, .thesisleftBox h3, .thesisleftBox p {
    display: none;
  }

  #ThesisContainer {
    width: 100%;
  }

  .thesisleftBox {
    width: 100%;
  }

  video {
    padding: 0 0 24px 0;
  }

}

/* Footer */

footer {
  width: 960px;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  height: 80px;
}

footer p {
  flex-grow: 1;
  padding-left: 24px;
}

footer li {
  padding-right: 16px;
  display: inline-block;
}

/* Mobile Footer */
@media only screen and (max-width: 480px) {
  footer ul {
    display: none;
  }

  footer p {
    width: 100%;
    padding: 16px 0 16px 16px;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 479px) {
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 959px){
  .container {
    width: 100%;
  }

  #courseBox {
    width: 100%;
    margin: 0 auto;
  }

  .button {
    margin-bottom: 16px;
  }

  #design {
    padding-bottom: 14px;
  }
}
